@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #F1EEE4;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav li { 
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

nav img {
    height: 35px;
    margin-left: 40px;
}

nav a:hover {
    color: #905E3D;
    transition: all 0.3s;
}

body {
    margin: 4%;
}

main {
    background-color: #949887;
}

h1{
    padding-top: 5%;
    color: #905E3D;
    font-family: 'Syne', sans-serif;
} 

#filtro-categorias {
    margin-bottom: 5%;
}

#catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #905E3D;
    border-radius: 5px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    max-height: 100%;
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 5px;
}

.producto h3 {
    font-family: 'Syne';
}

.descripcion {
    font-size: 12px;
}

.producto:hover {
    background-color: #905E3D;
    scale: 1.1;
}

.precio {
    font-family: 'Syne';
    font-weight: 600;
    font-size: 16px;
}


#carrito{ 
    position:fixed;
    top: 15%; 
    right: 10px; 
    border: 3px solid #905E3D;
    padding: 10px; }

#carrito-items{
    margin-bottom: 10px;
    max-height: 250px;
    overflow-y: auto;
}

#carrito-items div {
    margin-bottom: 10px;
}

#carrito-items div button {
    margin-left: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

#total{
    font-weight: bold;
}

.btn-agregar{
    background-color: #949887;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
}

.btn-agregar:hover{
    background-color: white;
    color: #905E3D;
}

.ventanaModal{
    position: absolute;
    top: 20%;
    right: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px #905E3D;
    z-index: 999;
}

button{
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #905E3D;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
}

@keyframes spin
    to {transform: rotate(360deg);}

.btn-agregar:active::after{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #47a386;
    border-top-color: transparent;
    border-radius: 50%;
    margin-left: 8px;
    animation: spin 2s linear infinite;
}

